/* css variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 204, 104, 0.8);
}

*{  
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    grid-gap: 10px;
}

body{
    width: auto;
    height: auto;
}

.portfolio :nth-child(even){
    background-color: var(--light);
}

.portfolio{
    background: goldenrod;
    background-size: auto;
    display: grid;
    width: auto;
    height: auto;
}


.contactMe{
    display: grid;
    grid-template-areas:
    "h h"
    "f s";
    width: auto;
    height: 100%;
}

.contactH{
    grid-area: "h";
    margin: 10px;
    text-align: center;
}

.formal{
    grid-area: "f";
    margin: 10px;
    text-align: center;
}

.social{
    grid-area: "s";margin: 10px;
    text-align: center;
}


