/* css variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 204, 104, 0.8);
}

*{  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22.8px;
    list-style: none;
    text-decoration: none;
    grid-gap: 10px;
    margin: 0px;
}
li{
    padding: 15px;
    font-size: 25px;
}
h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}
h2{
    text-align: center;
    padding: 15px;
}
p{
    margin: 20px;
}
body{
    margin: 10px;
}

/* main container */
.portfolio{
    grid-gap: 200px;
    background-size: auto;
    display: grid;
    width: auto;
    height: auto;
}
/* ============================= */


/* nav */
.myNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    grid-template-columns: 1fr 1fr;
    display: grid;
    box-shadow: var(--shadow);
    font-size: 25px;
    align-content: center;
}
.myNav a{
    color: black;
    font-size: 27px;
    text-align: center;
    margin: 10px;
    height: 80%;
    display: block;
    background: rgba(84, 188, 226, 0.466);
}
/* ============================= */


/* Home */
.home{
    width: auto;
    height: 100%;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
}
.home p{
    font-size: 24px;
    height: max-content;
}
/* ============================= */


/* about me */
.aboutMe{
    width: auto;
    height: 100%;
    text-align: start;
}
.aboutMe h1{
    background: rgba(27, 184, 158, 0.596);
}
.aboutMe p{
    margin-top: 20px;
    font-size: 24px;
}
/* ============================= */


/* skills */
.skills{
    align-content: center;
    width: auto;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 20px;
    padding: 0px;
}
.skills h1{
    background: rgba(27, 184, 158, 0.596);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
.list1{
    background:rgba(33, 241, 78, 0.486);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.list2{
    background:rgba(33, 241, 78, 0.486);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
/* ============================= */


/* contact me */
.contactMe{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr auto;
    text-align: center;
    align-content: center;
    margin-bottom: 100px;
}
.contactMe h1{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background: rgba(27, 184, 158, 0.596);
    font-style: italic;
}
.formal{
    
    padding: 20px;
    background:rgba(33, 241, 78, 0.486);
}
.social{
    padding: 20px;
    background:rgba(33, 241, 78, 0.486);
}
.contactMe a{
    display: block;
}
/* ============================= */


/* portfolio */
.myportfolio h1{
    margin-top: 100px;
    background: rgba(27, 184, 158, 0.596);
}
.websiteRepo{
    padding: 20px;
    background:rgba(122, 233, 168, 0.527);
}
.otherRepos{
    padding: 20px;
    background:rgba(122, 233, 168, 0.527);
}
/* ============================= */

/* media quiery */
